<div class="error" *ngIf="error">{{error}}</div>

<!-- list of tasks -->
<div class="todo-list-container">

    <h2>My List</h2>

    <div *ngIf="tasksLoading">Please wait...</div>

    <ul id="taskList" class="todo-list">
        <li *ngFor="let task of tasks" [ngClass]="{complete: task.complete}">
            {{task.name}}
            <div class="task-complete" (click)="toggleTaskCompletion(task)">
                <span class="icon material-icons">check_circle</span>
            </div>
        </li>
    </ul>

</div>

<hr>

<!-- new task form -->
<div class="card">
    <form novalidate [formGroup]="task" (ngSubmit)="onSubmit()">
        <label>Add a task:
            <input type="text" name="name" formControlName="name" id="taskName" />
        </label> 
        <input type="submit" [disabled]="!task.valid" id="taskAdd" value="Add" />    
    </form>
</div>
