:root {
  --light-pink: #f972d6;
  --dark-pink: #f123bb;
  --list-item: var(--light-pink);
  --list-item-hover: var(--dark-pink);
}

.todo-list-container {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 1px 1px #f0f0f0;
  border-radius: 4px;
}

.todo-list-container > h2 {
  margin: 0;
  font-size: 1em;
  padding: 5px;
  color: #ffffff;
  background-color: var(--dark-pink);
  border-radius: 4px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-list > li {
  border: 1px solid #f0f0f0;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  line-height: 1.5em;
}

.todo-list > li.complete .icon {
  color: var(--dark-pink);
}

.todo-list > li.complete {
  text-decoration: line-through;
}

.task-complete {
  float: right;
  font-size: 1.5em;
}

.task-complete > .icon {
  cursor: pointer;
  color: darkgray;
  transition: color 1s;
}

.task-complete > .icon:hover {
  color: var(--dark-pink);
}
